<div *ngIf="villeError" class="alert alert-dismissible alert-danger">
    <div class="text-center">
        <strong>Error!</strong> Ville non connue
    </div>
</div>

<div class="container pt-4">
    <div class="row">
        <div class="col-lg-4">
            <img [src]="image" alt="Clima" class="image">
        </div>
        <div class="col-lg-6">
            <input type="text" [(ngModel)]='ville' name="" id="" placeholder="Ecrire un nom de ville" class="form-control form-control-lg size">
            <button (click)="getClima()" [disabled]="ville===''" class="btn btn-primary btn-lg btn-block mt-4 size">Confirmer</button>

            <div *ngIf="loading" class="text-center mt-3">
                <div class="spinner-border text-primary" role="status"></div>
            </div>

            <div *ngIf="query" class="card mt-3">
                <div class="card-body">
                    <p><b>Température: </b>{{temperature | number: '1.2-2'}} °C</p>
                    <p><b>Humidité: </b>{{humidite}}%</p>
                    <p><b>Climat: </b>{{clima}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
